<!-- Landing Page -->
<div class="landing-page">
  <!-- Hero Section -->
  <div class="hero">
    <!-- Welcoming Section -->
    <h1 class="welcome">
      <img src="<%= asset_path('sublogo.png') %>" alt="Submate Logo" class="sublogo">
    </h1>

    <div class="video-section">
      <iframe
        src="https://player.vimeo.com/video/1051903888?autoplay=1&muted=1&loop=1"
        width="800"
        height="450"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

    <!-- Main Adventure Section -->
    <div class="adventure-section">
      <h2>Embark on Your Ultimate Deep Sea Adventure</h2>
      <p>Unveil the ocean’s secrets, from vibrant coral reefs to exotic marine life. With Submate, you're not just seeing the ocean—you're becoming part of it. Let’s dive into an extraordinary experience you won’t find anywhere else.</p>
      <a href="/submarines" class="cta-button">Get Started</a>
    </div>
  </div>

<!-- Footer Section -->
<div class="footer">
  <!-- Social Media Links Section -->
  <div class="social-links">
    <a href="#" target="_blank" class="social-icon">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="#" target="_blank" class="social-icon">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="#" target="_blank" class="social-icon">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <!-- Copyright Text Section -->
  <p>&copy; 2025 Submate. All rights reserved.</p>
</div>
