<div class="container mt-4">
  <div class="row">
    <!-- Top-left area: Image -->
    <div class="col-md-6">
      <img src="https://s7ap1.scene7.com/is/image/destqueensland/teq/consumer/global/images/destinations/sunshine-coast/blog-images/2022_SC_DownUnderSubmarines_MarineLifeEncounters_DownUnderSubmarines1.jpg?fit=wrap&fmt=webp&qlt=75&wid=1200" class="img-fluid" alt="Submarine Image">
    </div>

    <!-- Top-right area: Booking Form -->
      <div class="col-md-6">
        <h4>Booking Form</h4>
        <form action="#" method="post">
          <div class="form-group">
            <label for="bookingDate">Booking Date</label>
            <input type="date" class="form-control" id="bookingDate" name="date">
          </div>
          <div class="form-group mt-2">
            <button type="submit" class="btn btn-primary">Book Now</button>
          </div>
        </form>
      </div>
  </div>

    <!-- Submarine Description -->
  <div class="row mt-4">
    <div class="col-md-12">
      <p>This is a description of the submarine. More details about the submarine will be provided here.</p>
    </div>
  </div>

    <!-- Quick Details -->
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Quick Details</h3>
      <ul>
        <li><strong>ID:</strong> 1</li>
        <li><strong>Model:</strong> Submarine X</li>
        <li><strong>Capacity:</strong> 30 people</li>
        <li><strong>Price:</strong> $500,000</li>
      </ul>
    </div>
  </div>
</div>
